.div{
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #9e3333;
    padding: 20px;
    margin: 10px;
    background-color: aqua;
    border-color: black;
    border: 2px 2px 2px 2px;
}