.password-reset{
    width: 380px;
    height: 50px;
    border-radius: 60px;
    background-color: #9d1313;
    color: white;
    font-size: 25px;
    border: none;
    cursor: pointer;
    flex: 1;
    transition: .3s all ease;

  }

  .password-reset:hover{
    flex: 2;
    scale: 1.03;
    background-color: #7f0e0e;
  }